*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}



/* VARIABLES */
.bgColor{
    background: #ffffff;
}
.containerColor{
    background: #F1F1F1;
}
.tempratureColor{
    background: #FFF02E;
}
.humidityColor{
    background: #07C3E6;
}
.particulateColor{
    background: #AAAAAA;
}
/* VARIABLES */


/* FONT FACE */
@font-face {
    font-family: rubik-bold;
    src: url(font/Rubik-Bold.ttf);
}
@font-face {
    font-family: rubik-medium;
    src: url(font/Rubik-Medium.ttf);
}
@font-face {
    font-family: rubik-regular;
    src: url(font/Rubik-Regular.ttf);
}
@font-face {
    font-family: rubik-semibold;
    src: url(font/Rubik-SemiBold.ttf);
}
@font-face {
    font-family: roboto-medium;
    src: url(font/Roboto-Medium.ttf);
}
/* FONT FACE */


/* TYPOGRAPHY */
h1{
    font-family: rubik-bold;
    font-size: calc(26px + (40 - 26) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bolder;
    color: #0C818A;
}
h2{
    font-family: rubik-medium;
    font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    color: #383838;

}
h3{
    font-family: rubik-regular;
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-weight: lighter;
    color: #383838;
}
p{
    font-family: rubik-semibold;
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}
.symbol{
    font-family: roboto-medium;
    font-weight: 600;
}
/* TYPOGRAPHY */



section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    flex-wrap: wrap;
}
.monitor{
    width: 50%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 2rem;
    width: 50%;
    min-width: 250px;
}
.container{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    
}
.box{
    border-radius: 8px;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box span{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
